* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
}

html {
  font-size: 62.5%;
  font-family: $font_primary;
}

body {
  background-color: $color_light;
  color: $color_dark;
}

.main {
  min-height: 80vh;
}

.container {
  max-width: 1245px;
  margin: 0 auto;
}