.header-section {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    &__logo {
      width: 107px;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__links {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 16px;

      &-mcafee {
        width: 44px;
        height: auto;
      }

      &-norton {
        width: 41px;
        height: auto;
      }
    }

    @include lg {
      padding: 30px 0;

      &__logo {
        width: 192px;
      }

      &__links {
        gap: 32px;

        &-mcafee {
          width: 88px;
          height: auto;
        }

        &-norton {
          width: 82px;
          height: auto;
        }
      }
    }
  }
}
